
# Database Local
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# BETTER AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# GITHUB 
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# GOOGLE
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GEMINI
GOOGLE_GENERATIVE_AI_API_KEY=